DJANGO_DEBUG=True
DJANGO_SECRET_KEY=dev-secret
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=habit_db
DB_USER=habit_user
DB_PASSWORD=habit_pass
DB_HOST=127.0.0.1
DB_PORT=5432
CORS_ALLOW_ALL_ORIGINS=True
TELEGRAM_BOT_TOKEN=000000:AAA-BBB
REDIS_URL=redis://localhost:6379/0
TIME_ZONE=Europe/Moscow
